<p> <span class="AN">Author : {{showDetails.author}}</span> <span id="vote" > <small> <span > <button type="button" name="button">upvoted</button>" alt="" (click) = 'addLike(true)'> : {{showDetails.like}}  </span> <span> <button type="button" name="button">downvoted</button  alt="" (click) = 'addDisLike(true)'> : {{showDetails.disLike}}</span> </small> </span> </p>
<p class="AN">Uploaded By : {{showDetails.uploadedBy}} </p>
<button class="btn btn-danger" (click) = 'deleteDiary(true)'>Delete</button>
