<div class="jumbotron">
 <h1 class="display-4">Quote app!</h1>
  <p class="lead"> This app allows user to input their quotes which can be upvoted or downvoted depending with the user .</h3> 
 <br>
</div>
<div class="container ">
 <div class="row">
     <div class="col-md-5">
        <app-quote-form></app-quote-form>
     </div>
     <div class="col-md-7">
         <app-view-quotes></app-view-quotes>
     </div>
 </div>   
</div>
<br>
<br>
<div class="container" output>
    <div class="row">
     <div class="col-md-6">
        <app-output></app-output>  
     </div>
    </div>
</div>

       

