.container{
    display :grid;
    grid-template-columns: 50% auto;

}
.col{
    padding: 4cm 1.3cm;

}
input{
    border: 0;
    width: 80%;
    margin-bottom: 2cm;
}
input.btn{
    display: block;
    color: blue;
}