<div class="container">
       
          <h3 class="text-center">Use the form below to create a quote</p>
       <form>
           <h2>Enter quote</h2>
        <hr>
           <textarea type="text" class="textarea"  placeholder="Quote" size="20%">
        <h2 for ="Description">Describe the quote</h2>
              <hr>
            <textarea type="text" class="textarea"  placeholder="Description" size="50%">
              <h2 for = "name">Authors name</h2>
              <hr>
         <input type="text" class="text"  placeholder="Authors name">
           <br>
          <h2>Add quote to the list</h2>
           <input type="button" class="button" value="Add Quotes">
         </form>
        </div>
    </div>   
